<<<<<<< HEAD
@import "{poetic:materialize-scss}/sass/components/_color.scss";

$body-bg: transparent;

$primary-color: color("grey", "darken-4");

@import "{poetic:materialize-scss}/sass/materialize.scss";

@import "./stylesheets/_stickyfooter.scss";

@import "./stylesheets/_loading.scss";

@import "./stylesheets/_navbar.scss";

@import "./stylesheets/_mobile.scss";


@import url('https://fonts.googleapis.com/css?family=Montserrat:700');//googlefonts import into css, Montseerat
@import url('https://fonts.googleapis.com/css?family=Vampiro+One');

@font-face {
    font-family: 'HelloStock';
    src: url('/fonts/HelloStock.tff') format('truetype');;
}

@keyframes hatch1 {
  50% {
    transform: rotate(-2deg);
  }
  65% {
    transform: rotate(1deg);
  }
  80% {
    transform: rotate(-1deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes hatch {
  0% {
    transform: rotate(0deg) scaleY(0.6);
  }
  20% {
    transform: rotate(-2deg) scaleY(1.05);
  }
  35% {
    transform: rotate(2deg) scaleY(1);
  }
  50% {
    transform: rotate(-2deg);
  }
  65% {
    transform: rotate(1deg);
  }
  80% {
    transform: rotate(-1deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@-webkit-keyframes hatch {
  0% {
    -webkit-transform: rotate(0deg) scaleY(0.6);
  }
  20% {
    -webkit-transform: rotate(-2deg) scaleY(1.05);
  }
  35% {
    -webkit-transform: rotate(2deg) scaleY(1);
  }
  50% {
    -webkit-transform: rotate(-2deg);
  }
  65% {
    -webkit-transform: rotate(1deg);
  }
  80% {
    -webkit-transform: rotate(-1deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
  }
}


.indexBackgroundPhoto{
  position: absolute;
  height: 100vh;
  width: 100%;
  background-image: url("/img/3.jpg");
  background-position: center;
  background-size: cover;
}

.customFooter{
  margin-top: 0px;
}

.noMargin-Bottom{
  margin-bottom: 0px;
}

.colorIcon2{
  color: rgb(255,250,0);
}

// .wobble{
//   animation-name: hatch1;
//   -webkit-animation-name: hatch1;
//   animation-duration: 2s;
//   -webkit-animation-duration: 2s;
//   transform-origin: 50% 100%;
//   -ms-transform-origin: 50% 100%;
//   -webkit-transform-origin: 50% 100%;
//   visibility: visible !important;
//   -webkit-animation-iteration-count: infinite; /* Safari 4.0 - 8.0 */
//   animation-iteration-count: infinite;
//
// }

.logo-Mobile{
  @extend .red-text, .text-lighten-1;
  font-family: 'Vampiro One', cursive;
}
.hatch{
	animation-name: hatch;
	-webkit-animation-name: hatch;

	animation-duration: 2s;
	-webkit-animation-duration: 2s;

	animation-timing-function: ease-in-out;
	-webkit-animation-timing-function: ease-in-out;

	transform-origin: 50% 100%;
	-ms-transform-origin: 50% 100%;
	-webkit-transform-origin: 50% 100%;

	visibility: visible !important;
}



.loginMainButton{
  margin-right: 0px;
}

// .rightMainContainer {
//     display: none;
//     position: absolute;
//     top: 0px;
//     width: 27.33%;
//     height: 100vh;
//     background-color: white;
//     right: 0px;
// }

.slideLeft{
	animation-name: slideLeft;
	-webkit-animation-name: slideLeft;

	animation-duration: 1s;
	-webkit-animation-duration: 1s;

	animation-timing-function: ease-in-out;
	-webkit-animation-timing-function: ease-in-out;

	visibility: visible !important;
}

@keyframes slideLeft {
	0% {
		transform: translateX(100%);
	}
	// 50%{
	// 	transform: translateX(-8%);
	// }
	// 65%{
	// 	transform: translateX(4%);
	// }
	// 80%{
	// 	transform: translateX(-4%);
	// }
	// 95%{
	// 	transform: translateX(2%);
	// }
	100% {
		transform: translateX(0%);
	}
}


.height-onethird{
  height: 33vh;
}

.logoMainContainer{
  width: 100%;
  height: 10%;
  padding: 10%;
}

.logoMain{
  position: absolute;
  font-family: 'Vampiro One', cursive;
  font-size: 1.7em;
  margin: 0px;
  right: 31px;
  @extend .red-text, .text-lighten-1;
}

.loginform-Main {
    width: 100%;
    height: 40%;
    top: 26%;
    position: absolute;
    padding: 10%;
}

input.usernameMain{
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-image: url('searchicon.png');
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

input.passwordMain{
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-image: url('searchicon.png');
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

.signUpMain{
  // position: absolute;
  display: inline-flex;
  background-color: transparent;
  border: none;
  color: white;
}

.iCGM{
  position: absolute;
  margin: 8px;
  color: rgb(209,209,209);
}
=======
@import "{poetic:materialize-scss}/sass/components/_color.scss";

$body-bg: transparent;

$primary-color: color("grey", "darken-4");

@import "{poetic:materialize-scss}/sass/materialize.scss";

@import "./stylesheets/_stickyfooter.scss";

@import "./stylesheets/_loading.scss";

@import "./stylesheets/_navbar.scss";

@import "./stylesheets/_mobile.scss";


@import url('https://fonts.googleapis.com/css?family=Montserrat:700');//googlefonts import into css, Montseerat
@import url('https://fonts.googleapis.com/css?family=Vampiro+One');

@font-face {
    font-family: 'HelloStock';
    src: url('/fonts/HelloStock.tff') format('truetype');;
}

@keyframes hatch1 {
  50% {
    transform: rotate(-2deg);
  }
  65% {
    transform: rotate(1deg);
  }
  80% {
    transform: rotate(-1deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes hatch {
  0% {
    transform: rotate(0deg) scaleY(0.6);
  }
  20% {
    transform: rotate(-2deg) scaleY(1.05);
  }
  35% {
    transform: rotate(2deg) scaleY(1);
  }
  50% {
    transform: rotate(-2deg);
  }
  65% {
    transform: rotate(1deg);
  }
  80% {
    transform: rotate(-1deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@-webkit-keyframes hatch {
  0% {
    -webkit-transform: rotate(0deg) scaleY(0.6);
  }
  20% {
    -webkit-transform: rotate(-2deg) scaleY(1.05);
  }
  35% {
    -webkit-transform: rotate(2deg) scaleY(1);
  }
  50% {
    -webkit-transform: rotate(-2deg);
  }
  65% {
    -webkit-transform: rotate(1deg);
  }
  80% {
    -webkit-transform: rotate(-1deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
  }
}


.indexBackgroundPhoto{
  position: absolute;
  height: 100vh;
  width: 100%;
  background-image: url("/img/3.jpg");
  background-position: center;
  background-size: cover;
}

.customFooter{
  margin-top: 0px;
}

.noMargin-Bottom{
  margin-bottom: 0px;
}

// .wobble{
//   animation-name: hatch1;
//   -webkit-animation-name: hatch1;
//   animation-duration: 2s;
//   -webkit-animation-duration: 2s;
//   transform-origin: 50% 100%;
//   -ms-transform-origin: 50% 100%;
//   -webkit-transform-origin: 50% 100%;
//   visibility: visible !important;
//   -webkit-animation-iteration-count: infinite; /* Safari 4.0 - 8.0 */
//   animation-iteration-count: infinite;
//
// }

.hatch{
	animation-name: hatch;
	-webkit-animation-name: hatch;

	animation-duration: 2s;
	-webkit-animation-duration: 2s;

	animation-timing-function: ease-in-out;
	-webkit-animation-timing-function: ease-in-out;

	transform-origin: 50% 100%;
	-ms-transform-origin: 50% 100%;
	-webkit-transform-origin: 50% 100%;

	visibility: visible !important;
}



.loginMainButton{
  margin-right: 0px;
}

// .rightMainContainer {
//     display: none;
//     position: absolute;
//     top: 0px;
//     width: 27.33%;
//     height: 100vh;
//     background-color: white;
//     right: 0px;
// }

.slideLeft{
	animation-name: slideLeft;
	-webkit-animation-name: slideLeft;

	animation-duration: 1s;
	-webkit-animation-duration: 1s;

	animation-timing-function: ease-in-out;
	-webkit-animation-timing-function: ease-in-out;

	visibility: visible !important;
}

@keyframes slideLeft {
	0% {
		transform: translateX(100%);
	}
	// 50%{
	// 	transform: translateX(-8%);
	// }
	// 65%{
	// 	transform: translateX(4%);
	// }
	// 80%{
	// 	transform: translateX(-4%);
	// }
	// 95%{
	// 	transform: translateX(2%);
	// }
	100% {
		transform: translateX(0%);
	}
}


.height-onethird{
  height: 33vh;
}

.logoMainContainer{
  width: 100%;
  height: 10%;
  padding: 10%;
}

.logoMain{
  position: absolute;
  font-family: 'Vampiro One', cursive;
  font-size: 1.7em;
  margin: 0px;
  right: 31px;
  @extend .red-text, .text-lighten-1;
}

.loginform-Main {
    width: 100%;
    height: 40%;
    top: 26%;
    position: absolute;
    padding: 10%;
}

input.usernameMain{
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-image: url('searchicon.png');
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

input.passwordMain{
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-image: url('searchicon.png');
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

.signUpMain{
  // position: absolute;
  display: inline-flex;
  background-color: transparent;
  border: none;
  color: white;
}

.iCGM{
  position: absolute;
  margin: 8px;
  color: rgb(209,209,209);
}

@import "./stylesheets/_home.scss";
@import "./stylesheets/_about.scss";
>>>>>>> b7fb529b2e9bc316cfb114ad1dc0aaebf92919fc
