<template name="navbar">
  <nav>
    <div class="container">
      <div class="row">
        <div class="col s12">
          <div class="nav-wrapper">
            <a href="#" data-activates="slide-out" class="btn button-collapse"><i class="material-icons">menu</i></a>
            <a href="/" class="brand-logo">Open|Close</a>
              <ul class="right hide-on-med-and-down">
                {{#if isAdminUser}}
                  <li><a href="/usermgmt">User Management</a></li>
                {{/if}}
                {{#if currentUser}}
                  <li><a href="/sign-out">Sign Out</a></li>
                {{else}}
                  <li><a href="/sign-in">Sign In</a></li>
                {{/if}}
                  <li><a href="/about">About</a></li>
              </ul>
                {{#if currentUser}}
              <ul id="slide-out" class="side-nav fixed">
                <li class="profile">
                  <ul class="collapsible collapsible-accordion">
                    <li class= "bold">
                      <a class="collapsible-header  waves-effect waves-red"> Profile</a>
                      <div class="collapsible-body">
                        <ul>
                          <li><a href="profile.html"></a>Profile</li>
                        </ul>
                      </div>
                    </li>
                    <li class= "bold">
                      <a class="collapsible-header  waves-effect waves-red"> Messenger</a>
                      <div class="collapsible-body">
                        <ul>
                          <li style="background-color: black"><a href="#"></a>Messenger</li>
                          <li style="background-color: green"><a href="#"></a>Bob</li>
                          <li style="background-color: pink"><a href="#"></a>Cindy</li>
                        </ul>
                      </div>
                    </li>
                  </ul>
                </li>
              </ul>
              {{/if}}
          </div>
        </div>
      </div>
    </div>
  </nav>
</template>