.description {
font-size: 14px;
margin-left: 10%;
  
}

.imagePlacement{
  padding: 10px;
  margin-left: 10%;
}

.imageTitle{
  font-weight:300;
  font-size: 30px;
  margin-left: 10%;
}

.title{
  font-weight:300;
  color: #ee6e73;
  font-size: 30px
}

.teamTitle{
  font-weight:300;
  font-size:30px;
  color: #ee6e73;
}

.teamDescription {
  font-weight:300;
  color: #ee6e73;
  font-size: 20px;
}