.row .col.s8 {
    width: 66.66667%;
    margin-left: auto;
    /* left: auto; */
    /* right: auto; */
    
    padding-left:300px;
}

    @media #{$medium-and-down} {
    // styles for medium screens and down
  body{
    padding-left:0px
  }
  }


.pad-body{
  padding-left: 300px;
}