  

    @media only screen and (max-width : 992px) {
      header, main, footer {
        padding-left: 0;
      }
    }

    .btn, .btn-large {
      background-color: #b51212;
      left: 100px;
    }

     @media #{$medium-and-down} {
    // styles for medium screens and down
    .side-nav {
    transform:translate(-100px)
    }
  }