body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

 @media only screen and (max-width : 992px) {
      header, main, footer {
        padding-left: 0;
      }
    }

     @media #{$medium-and-down} {
    // styles for medium screens and down
  body{
    padding-left:0px;
  }
  }
