<template name="about">
  <div class="container">
    <div class="row row-pad">
      <div class="col s12">
         <h4 class="title"><center> Our purpose is to connect people together to share their favorite venues</center></h4>
      </div>
    </div>
    <div class="row">
      <div class="col s4">
            <img class="imagePlacement" src="../images/about/search.png">
            <h2 class="imageTitle">Search Venues</h2>
            <h3 class="description"> Search for your favorite venues to see when it opens and add them to your list.</h3>
      </div>
      <div class="col s4">
            <img class="imagePlacement" src="../images/about/chat.png">
            <h2 class="imageTitle">Share with Friends</h2>
            <h3 class="description"> Share your favorite venues and chat with your friends through our messaging application.</h3>
      </div>
      <div class="col s4">
            <img class="imagePlacement" src="../images/about/travel.png">
            <h2 class="imageTitle">Stay Connected</h2>
            <h3 class="description">Mobile friendly, so you can enjoy the experience where ever you go.</h3>
      </div>
    </div>
    <div class="row">
      <div class="col s12">
            <h3 class="teamTitle"> Meet the Team </h3>
      </div>
      <div class="col s12">
            <h3 class="teamDescription"> We are a team of students from Rutgers Coding Bootcamp</h3>
      </div>
      </div>
      <div class="row">
        <div class="col s12">
          <img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=1045%C3%97350&w=1050&h=350">
        </div>
      </div>
      </div>
</template>
