<Template name="home">
  <div class="container">
    <div class="row">
      <div class="form col s12">
        <h4><center>What's open close by?</center></h4>
        <div class="row">
          <form class="col s8">
            <div class="row">
              <div class="input-field col s6">
                <input placeholder="" id="keyword" type="text" class="validate">
                <label for="keyword">Keyword</label>
              </div>
              <div class="input-field col s6">
                <input id="zipcode" type="text" class="validate">
                <label for="zipcode">Zip Code</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s6">
                <label>Radius(Miles)</label><br><br>
                  <select id="radius" class="browser-default">
                    <option value="" disabled selected>Choose Radius</option>
                    <option value="8000">5</option>
                    <option value="16000">10</option>
                    <option value="33000">20</option>
                    <option value="50000">30</option>
                  </select>
              </div>
            </div>
                <input type="submit" value="submit">
          </form>
        </div>
    </div>
    </div>
    <div class="locationBox row card-panel">
        <h5>Found Locations</h5>
          {{#if thereAreLocations}}
            {{> locations}}
          {{else}}
            {{ foundLocations }}
          {{/if}}

    </div>
    <div class="col s8 right">
      {{#if thereIsEmail}}
        {{> chat }}
      {{/if}}
    </div>
  </div>
</Template>

