<template name="home">
  <div class="container">
    <div class="row">
      <div class="col s12">
        <h4><center>What's good near you?</center></h4>
        <div class="row">
    <form class="col s8">
      <div class="row">
        <div class="input-field col s6">
          <input placeholder="" id="term" type="text" class="validate">
          <label for="first_name">Term</label>
        </div>
        <div class="input-field col s6">
          <input id="location" type="text" class="validate">
          <label for="last_name">Location</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <input id="Radius(Miles)" type="text" class="validate">
          <label for="password">Radius</label>
        </div>
      </div>
    </form>
  </div>
        
      </div>
    </div>
  </div>
</template>