<template name="index">
  <div class="indexBackgroundPhoto"></div>
  <div class="indexBackgroundGradient"></div>
  <div class="indexGM">
    <!--  this is the beginning of the search for mobile-->
    <div class="searchForm-Mobile">
      <div class="resultsMainContainer-Mobile">
          <div class="resultSearchContainer">
            <div class="resultsPhoto-Container">

            </div>
            <div class="resultsTitle-Container">
              <p>place 1 </p>
            </div>
            <div class="resultsMoreInfo-Container-right">
              <p>check it out! </p>
            </div>
          </div>
          <div class="resultSearchContainer">
            <div class="resultsPhoto-Container">
            </div>
            <div class="resultsTitle-Container">
              <p>palce two long titles </p>
            </div>
            <div class="resultsMoreInfo-Container-right">
              <p>check it out! </p>
            </div>
          </div>
          <div class="resultSearchContainer">
            <div class="resultsPhoto-Container">
            </div>
            <div class="resultsTitle-Container">
              <p>palce two long titles </p>
            </div>
            <div class="resultsMoreInfo-Container-right">
              <p>check it out! </p>
            </div>
          </div>
      </div>


      <div class="headerContainer-Mobile">
        <div class="mobileLogo-Container">
          <h1 class="logo-Mobile">
            Open-Close
          </h1>
        </div>
        <form method="get" action="/search" id="search">
          <input name="q" type="text" size="40" placeholder="Search..." class="searchbar-Mobile">
        </form>
      </div>
      <div class="bottomNav-LoginMobile">
        <a class="atagsforbottommobile"><i class="small material-icons bottomNav-buttons border-light">search</i><p class="tagforIcons colorText-Main"> search</p></a>
        <a class="atagsforbottommobile"><i class="small material-icons bottomNav-buttons border-light">star</i><p class="tagforIcons1 colorText-Main">favorite</p></a>
        <a class="atagsforbottommobile"><i class="small material-icons bottomNav-buttons border-light">chat_bubble_outline</i><p class="tagforIcons2 colorText-Main"> messages</p></a>
        <a class="atagsforbottommobile"><i class="small material-icons bottomNav-buttons border-light">person_pin</i><p class="tagforIcons3 colorText-Main"> profile</p></a>
      </div>
    </div>
    <!--  this is where the search form for mobile ends-->
    <!--  this is the page for mobile when you click on more details-->
    <div class="moreDetails-page">
      <div class="moreDetails-Container">
          <div class="moreDetails-Header">
            <h1 class="logo-Mobile">
              Open-Close
            </h1>
            <a href="#" class="backButton"><i class="material-icons backButtonIcon">keyboard_arrow_left</i>back</a>
          </div>
          <div class="moreDetails-PhotoContainer">

          </div>
          <div class="moreDetails-Rating">
            <i class="material-icons colorIcon2">star_rate</i>
            <i class="material-icons colorIcon2">star_rate</i>
            <i class="material-icons colorIcon2">star_rate</i>
            <i class="material-icons colorIcon2">star_rate</i>
            <i class="material-icons colorIcon2">star_rate</i>
          </div>
          <div class="moreDetails-Favorite">
              <i class="material-icons">favorite_border</i>
          </div>
      </div>
      <div class="moreDetails-InfoContainer">
        <div class="moreDetails-Title">
          The Name of Location
        </div>
        <div class="moreDetails-Time">
          9:00am-10:00pm
        </div>
        <div class="moreDetails-OpenClose">
          Open Now!
        </div>
        <div class="moreDetails-GetDirection">
          Get Directions?
        </div>
      </div>
    </div>
    <!--  end of more details page-->
    <div class="mainLogoIndex">
      <h1 class="mainLogo-Desktop"> Open Close </h1>
    </div>
      <div class="rightMainContainer slideLeft">
        <div class="logoMainContainer">
            <h1 class="logoMain">Open Close </h1>
        </div>
        <div class="loginform-Main">
          <div class="login">
            <h4 >Login</h4>
            <form method="post">
              <i class="small material-icons iCGM">perm_identity</i><input type="text"  class="usernameMain" name="u" placeholder="Username" required="required" />
              <i class="small material-icons iCGM">lock_outline</i><input type="password" class="passwordMain" name="p" placeholder="Password" required="required" />
              <div class="buttonsTo">
              <button type="submit" class="waves-effect waves-light btn red lighten-2 loginMainbutton">Log In</button>
              <button type="submit" class="waves-effect waves-light btn red lighten-2 signUpMain">Sign Up</button>
            </div>
            </form>
          </div>
        </div>
      </div>
    <div class="row noMargin-Bottom">
      <div class="col s1 height-onethird border-onbottom"></div>
    </div>
    <div class="row noMargin-Bottom">
      <div class="pinMainContainer hatch wobble">
      </div>
      <div class="mainSearch">
        <a class="waves-effect waves-light btn mainSearch-Button red lighten-2"><i class="material-icons right">search</i>Search</a>
        <p class="orTag"> or </p>
        <a class="waves-effect waves-light btn red lighten-2 signButtons signIn-Desktop">Log In</a>
        <a class="waves-effect waves-light btn red lighten-2 signButtons signUp-Desktop">SignUp</a>
        <!-- <button class="mainSearch-Button">search</button> -->
        <!-- <h3 class="searchLogo"> Search near me </h3>
        <form>
          <i class="small material-icons iCGM">search</i><input type="text" class="input-searchMain" name="search" placeholder="Search..">
        </form> -->
      </div>
      <div class="col s1 height-onethird border-onbottom"></div>
      </div>
    <div class="row noMargin-Bottom">
      <div class="socialLinksContainer">
        <div class="socialLinksBottom">
          <a class="socialMenuLinks" href="#"> instagram</a>
          <a class="socialMenuLinks" href="#">Github</a>
          <a class="socialMenuLinks" href="#">Linkedin</a>
        </div>
      </div>
      <!-- <div class="bottomMainNav-mobileOnly">
        <div class="leftNavOption-mobileOnly">
          signUp
        </div>
        <div class="middleNavOption-mobileOnly">
          NearMe.
        </div>
        <div class="rightNavOption-mobileOnly">
          signIn
        </div>
      </div>
      <div class="col s1 height-onethird border-onbottom"></div> -->

    </div>
  </div>

</template>
